@charset "utf-8";
@font-face {
  font-family: "Cunia";
  font-style: Bold;
  font-weight: 400;
  src: local("Cunia Bold"), url("/font/cunia") format("ttf");
}
@font-face {
  font-family: "Slim Joe";
  font-style: Regular;
  font-weight: 400;
  src: local("Slim Joe Regular"), url("/font/SlimJoe") format("otf");
}
/*Global*/
:root {
  /*color*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-shadow-grey: #b3b3b3;
  --color-black: #000000;
  --color-brown: #282020;
  --color-salmon: #b2765b;
  /*font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}
/* Size */
--size-max-width: 1200px;

/* Universal tags */

* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
li {
  list-style: none;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/*nav========================================*/

header,
nav #nav {
  background-image: -webkit-linear-gradient(
    135deg,
    rgb(142, 57, 164) 0%,
    rgb(42, 149, 239) 39%,
    rgb(8, 194, 211) 75%,
    rgb(255, 255, 255) 98%
  );
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  border-radius: 0px 0px 0px 0px;
}

nav#nav {
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: all 1s ease-in-out;
  z-index: 10;
}
nav#nav.navbar--dark {
  background-color: #08a2ea;
}
.rnb {
  position: absolute;
  top: 35px;
  left: 45px;
}
.logo {
  width: 35px;
}
ul {
  position: relative;
  right: 250px;
}
.nav_menu {
   padding: 10px 10px;
  }

a.nav-link{
  color:var(--color-white);
  font-weight: 400;
}
/* toggle button */
.navbar__toggle-btn {
  position: absolute;
  top: 35px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}
li {
  color: var(--color-white);
  padding: 10px 10px;
}

.nav_menu__item a{
  color: var(--color-white);
  border-radius: 5px;
}

/*mainimage==============================================*/
.home_container{
  transition: all 250ms ease-in;
}
.mainimage {
  position:relative ;
  z-index: 8;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.brand{
  object-fit: cover;
  width:250px;
}
.maintext h1 {
  text-align: center;
  font-family: "Slim Joe";
  font-size: 4rem;
  color: var(--color-white);
  margin: 40px 0 0 40px;
}
.maintext h2 {
  text-align: center;
  font-family: "Cunia";
  font-size: 3.5rem;
  color: var(--color-white);
  margin-top: 15px;
}
.maintext h6 {
  text-align: center;
  font-family: "roboto";
  font-size: 2em;
  color: var(--color-white);
  margin-top: 15px;
}
.sign-btn {
  width:200px;
  margin-left: 130px;
  margin-bottom: 0;
  padding: 15px 25px;
  background-image: -webkit-linear-gradient(
    135deg,
    rgb(42, 149, 239) 39%,
    rgb(8, 194, 211) 75%,
    rgb(255, 255, 255) 98%
  );
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(57, 55, 55);
 }
 .sign-btn:hover{
  background-image: -webkit-linear-gradient(
    135deg,
    rgb(142, 57, 164) 0%,
    rgb(42, 149, 239) 39%,
    rgb(8, 194, 211) 75%,
    rgb(255, 255, 255) 98%
  );
 }
.sign-txt{
  color:var(--color-light-white);
  font-weight: 500;
}
/* section_1==============*/
section {
  position:relative;
  top:8rem;
 padding-top: 4rem;
  max-width: var(--size-max-width);
  margin: auto;
  align-items: center;
  text-align: center;
}
/* line */
#contents h2:before,
#contents h3:before {
  top:5rem;
  content: "";
   width: 34px;
  height: 1px;
  background: var(--color-salmon);
   left: -36px;
   transform: rotate(45deg);
}
#contents h2,
#contents h3 {
   margin-bottom: 2rem;
  border-bottom: 2px solid #e1dcda;
   padding-bottom: 2rem;
  font: 1.8rem "roboto";
  color: var(--color-salmon);
}

/*Article___image et texte*/
article{
  position:relative;
  margin:auto;
  padding:2rem 5rem;
 
} 
.studio {
  display: flex;
  gap:2rem;
  align-items: center;

 }
.formation{
  width:350px;
  height:350px;
  object-fit: cover;
  border-radius: 20%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.studio:nth-child(even) .formation{
  order:1;
}
.formation_texte{
 background-color: var(--color-light-white);
 border-radius: 10px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 width:fit-content;
 padding:2rem;
}
.studio__titre {
  font-family: "roboto";
  color:var(--color-salmon);
  font-size: 1.5rem;
  text-align: center;
}
.studio__desc{
  font-family:"roboto";
  color:var(--color-brown);
  font-size: 0.9rem;
}

/* 2em section */
.sub__article {
  padding:1rem 5rem;
  }

  .description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;  
}
.sub__img{
  width:350px;
  height:300px;
  object-fit: cover;
}
.sub__titre,.sub__desc{
  width:350px;
  word-break:break-all;
  padding:0.5rem;
  text-align: left;
}
.sub__titre{
  font-size: 1.2rem;
  color:var(--color-shadow-grey);
}
.sub__des{
  font-size: 0.8rem;
}
/*footer*/

footer {
  width:100%;
  background-color: var(--color-black);
  height:10rem;
  }
  .footer{
    color:var(--color-light-white);
    padding:2rem;
    text-align: center;
  }

/*Scroll*/

.arrow-up {
  position: fixed;
  color: #08a2ea;
  opacity: 75%;
  font-size: 40px;
  bottom: 100px;
  right: 50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
  border:none;
  background-color: transparent;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/*For below 768px screen width*/

@media screen and (max-width: 768px) {
  #home{
    height: 30rem;
    width:100%;
  }

  ul {
    position: relative;
    top: 0px;
    right: 10%;
  }
  button.navbar__toggle-btn {
    display:block;
    color:var(--color-dark-white);
    z-index: 12;
    border:none;
    background-color: transparent;
  }
 
    nav#nav {
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: all 1s ease-in-out;
  }
 

  .rnb {
    position: absolute;
    top: 35px;
    left: 45px;
  }
  .logo {
    width: 35px;
  }
  .nav_menu {
    flex-direction: column;
    text-align: center;
    margin-left: 68px;
    display: none;
  }

  .nav_menu.open {
    display: block;
  }
    ul,
  li {
    color: var(--color-white);
  }
  ul,
  li:hover {
    color: var(--color-black);
  }
  .brand {
    display: none;
  }

  .mainimage {
    position:relative ;
    z-index: 11;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  
  }
 
  .sign-btn {
    display: flex;
    justify-content: center;
    margin:auto;
      }
      .maintext h1 {
    font-size: 2.8em;
    margin: auto;
  }
  .maintext h2 {
    font-size: 1.8em;
    color: var(--color-white);
    margin: 15px 35px 15px 15px;
  }
  .maintext h6 {
    font-size: 1em;
    color: var(--color-white);
    margin-top: 15px;
  }

  /* main */
  section {
    flex-direction: column;
    margin: auto;
    width:100%;
  }
  .studio:nth-child(even) .formation{
    order:0;
  }  

  #contents h2,
  #contents h3 {
    font: 16px;
  }

  .studio {
    flex-direction: column;
    align-items: center;
     }
  .formation {
    width: 300px;
    height: 300px;
    align-items: center;
  }

  
  article.description {
    flex-direction: column;
    align-items: center;
   
  }
  footer {
    text-align: left;
  }
}
